<?xml version="1.0"?>
<phpunit bootstrap="vendor/autoload.php" printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
            <directory>tests/Unit/ServiceTest</directory>

        </testsuite>


    </testsuites>
</phpunit>
